{% extends 'base.html.twig' %}

{% import _self as formMacros %}
{% macro printAnswer(answer) %}
    <div class="js-answer-item">
        <div class="row">
            <div class="col col-6">
                {{ form_errors(answer) }}
                {{ form_widget(answer.answer) }}
                {{ form_widget(answer.correct) }}
            </div>
            <div class="col col-3">
                <button type="button" class="btn btn-secondary js-remove-answer"
                        style="height: 50px; margin-left: 20px">
                    <i class="fa fa-btn "></i> eemalda vastus
                </button>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro printChoice(choice) %}
    <div class="js-choice-item">
        <div class="row">
            <div class="col col-8">
                {{ form_errors(choice) }}
                {{ form_widget(choice.question) }}
            </div>

            <div class="col col-3">
                <button type="button" class="btn btn-info js-remove-choice"
                        style="height: 50px; margin-left: 20px">
                    <i class="fa fa-btn "></i> eemalda küsimus
                </button>
            </div>
        </div>

        <div class="js-answer-wrapper"
             data-prototype="{{ formMacros.printAnswer(choice.answers.vars.prototype)|e('html_attr') }}"
             data-index="{{ choice.answers|length }}"
        >
            {% for answer in choice.answers %}
                {{ _self.printAnswer(answer) }}
            {% endfor %}
            <div class="row" >
                <div class="col col-12" >
                    <button type="button" class="btn btn-secondary js-answer-add">
                        <i class="fa fa-btn "></i> Lisa vastus
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro textQuestion(form) %}
    <div class="js-text-item">
        <div class="row">
            <div class="col col-8">
                {{ form_errors(form) }}
                {{ form_label(form, form.vars.label|replace({'%index%': (form.vars.name|number_format + 1 )}) )  }}
                {{ form_widget(form) }}
            </div>
            <div class="col col-3">
                <button type="button" class="btn btn-info js-text-remove"
                style="margin-top: 33px">
                    <i class="fa fa-btn "></i> eemalda küsimus
                </button>
            </div>
        </div>
    </div>
{% endmacro %}



{% block body %}
    {% form_theme form _self %}

    <div class="container">
        <div class="">
            <div class="card bg-light mb-12 mt-5" style="width: 1200px;">
                <div class="card-body">
                    <form class="form-horizontal" role="form" method="post">
                        {{ form_start(form) }}

                        <div class="row">
                            <div class="col col-xs-12">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-12">
                                {{ form_row(form.timeToComplete) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-12" style="margin-right: 10px">
                                {{ form_row(form.expirationDate) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-12">
                                {% if 'assignedTo' in form.children|keys %}
                                    {{ form_row(form.assignedTo) }}
                                {% endif %}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col col-xs-12">
                                <h3>Valikvastusega küsimused</h3>
                            </div>
                        </div>

                        <div class="js-choice-wrapper"
                             data-prototype="{{ formMacros.printChoice(form.multipleChoice.vars.prototype)|e('html_attr') }}"
                             data-index="{{ form.multipleChoice|length }}"
                        >
                            {% for choice in form.multipleChoice %}
                                {{ formMacros.printChoice(choice) }}
                            {% endfor %}
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-info js-choice-add"
                                            style="height: 50px; margin-top: 50px">
                                        <i class="fa fa-btn "></i> Lisa küsimus
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="js-text-wrapper"
                             data-prototype="{{ formMacros.textQuestion(form.textQuestion.vars.prototype)|e('html_attr') }}"
                             data-index="{{ form.textQuestion|length }}"
                        >
                            <div class="row">
                                <div class="col col-12">
                                    <h3>Tekst vastustega</h3>
                                </div>
                            </div>

                            {% for text in form.textQuestion %}
                                {{ formMacros.textQuestion(text) }}
                            {% endfor %}
                            <div class="row">
                                <div class="col col-12">
                                    <button type="button" class="btn btn-primary js-text-add" style="margin-top: 30px ">
                                        <i class="fa fa-btn "></i> Lisa
                                    </button>
                                </div>
                            </div>


                        </div>
                        {{ form_row(form._token) }}


                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary"
                                style="margin-top: 30px">
                                    <i class="fa fa-btn fa-sign-in"></i> salvesta
                                </button>
                            </div>
                        </div>
                        {{ form_end(form, {'render_rest': false}) }}

                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
{% endblock %}