{# templates/test/index.html.twig #} {% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">Testid</div>
                        {% if app.user != null %}
                            <a href="{{ path('addTest') }}" class="btn btn-info">
                                Lisa test</a>
                            <table class="table">
                                <tr>
                                    <th>Testi nimi</th>
                                    <th>Määratud gruppidele</th>
                                    <th>Lõpukuupäev</th>


                                </tr>
                                {% for test in tests %}
                                    <tr>
                                        <td> <a href="/test/{{ test.id }}/edit" class="alert-link">{{ test.name }}</a></td>
                                        {% set testGroups = '' %}
                                        {% for group in test.assignedTo %}
                                            {% set testGroups = testGroups ~ group.name ~ (loop.last ? '' :  ', ' ) %}
                                        {% endfor %}
                                        <td>{{ testGroups }}</td>
                                        <td>{{ test.ExpirationDate ? test.ExpirationDate|date('d-M-y') : '' }}</td>
                                        {% if 'ROLE_STUDENT' in app.user.roles %}
                                            <td><a class="nav-link" href="{{ path('take_test', {'id':test.id}) }}">Soorita</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                            {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}