{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Testek{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

{% block nav %}
<nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        style="height: 70px;"
>
    <a class="navbar-brand" href="#">Testek</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
            {% if 'ROLE_TEACHER' in  app.user.roles %}
                <li><a class="nav-link" href="{{ path('generate') }}">Lisa Kasutaja</a></li>
                <li><a class="nav-link" href="{{ path('edit_student_group') }}">Lisa Grupp</a></li>
            {% endif %}
            {% if 'ROLE_STUDENT' in app.user.roles %}
                <li><a class="nav-link" href="{{ path('taken_tests') }}">Vaata sooritatud teste</a></li>
            {% endif %}
            <li><a class="nav-link" href="{{ path('list') }}">Vaata teste</a></li>

            <li><a class="nav-link" href="{{ path('app_logout') }}">logi valja</a></li>

        {% else %}
            <li><a class="nav-link" href="{{ path('app_login') }}">Logi sisse</a></li>
            <li>
                <a class="nav-link" href="{{ path('registration') }}">Registreeru</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="card bg-light mb-3 mt-5" style="width: 800px">
                    <div class="card-body">
                        {{ form_start(form) }}
                        {% for child in form %}
                            <div class="form_group">
                                <div class="col-md-12 mb-3">
                                    {{ form_row(child) }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> Salvesta
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>