{# templates/test/index.html.twig #} {% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">Sooritatud Testid</div>
                        {% if app.user != null %}
                            <table class="table">
                                <tr>
                                    <th>Testi nimi</th>
                                    <th>Sooritamis kuupäev</th>
                                    <th>Hinne</th>

                                </tr>
                                {% for test in tests %}
                                    <tr>
                                        <td> <a href="/test/{{ test.id }}/edit" class="alert-link">{{ test.name }}</a></td>
                                        <td>{{ test.date }}</td>
                                        <td>{{ test.grade }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}