{# templates/test/index.html.twig #} {% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">{{ test.name }}</div>
                        <form>
                            {{ form(form) }}
                        {% for multipleChoice in test.MultipleChoice %}
                            <h3>{{ multipleChoice.question }}</h3>
                            {% set questionIndex = loop.index0 %}
                            {% for awnser in multipleChoice.answers %}
                                <div class="form-group">
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{ "taken_test_awnsers_" ~ questionIndex  }}">
                                        <label class="form-check-label" for="{{ "taken_test_awnsers_" ~ questionIndex  }}">
                                            {{ awnser.answer }}
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for question in test.textQuestion %}
                            <h3>{{ question }}</h3>
                            <div class="form-group">
                                <input type="text" id="{{ question ~ '_answer' }}" class="form-control">
                            </div>
                        {% endfor %}
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-btn fa-sign-in"></i> Esita
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}